.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 20%;
  padding-bottom: 25px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.cardHeader {
  width: 90%;
  height: 20%;
  text-align: center;
}

.container h3 {
  font-size: 20px;
}

.cardContent {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardFooter {
  height: 20%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent p {
  color: black;
}

.contentP {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.contentP p {
  padding-left: 7px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid red;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: red;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbonTopRight {
  top: 66vh;
  right: 34.5vw;
}
.ribbonTopRight::before,
.ribbonTopRight::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbonTopRight::before {
  top: 0;
  left: 0;
}
.ribbonTopRight::after {
  bottom: 0;
  right: 0;
}
.ribbonTopRight span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    height: 100%;
    margin: 10px 0 10px 0;
  }
}
