.container {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #168a53;
}

.menuIconContainer {
  display: none;
}

.separator {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imgContainer {
  width: 50%;
}

ul {
  list-style-type: none;
  margin-right: 2vw;
}

.buttonStyle {
  color: white !important;
}

@media screen and (max-width: 767px) {
  .contentContainer {
    display: none;
  }

  .contentContainer ul {
    position: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10%;
  }

  .openBurgerMenu {
    overflow: hidden;
    animation: openBurgerMenuAmimation 0.8s ease-in-out;
  }

  .closeBurgerMenu {
    overflow: hidden;
    animation: closeBurgerMenuAnimation 0.8s ease-in-out;
    height: 0%;
  }

  .imgContainer {
    width: 150%;
  }

  .menuIconContainer {
    margin: 10px;
    display: initial;
  }

  .menuIcon {
    color: white;
    font-size: 50px !important;
  }

  .buttonContainerStyle {
    border-bottom: 1px solid #168a53;
    display: flex;
    align-items: flex-start;
  }

  .buttonStyle {
    color: #168a53 !important;
    font-size: 20px !important;
  }
}
