.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-bottom: 25px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.cardHeader h3 {
}

.cardFooter {
  margin-top: 15px;
}

.cardContent p {
  color: black;
}

.contentP {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.contentP p {
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 10px 0 10px 0;
  }
}
