.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

p,
a {
  font-weight: 600;
}

a {
  color: #168a53;
}

a:hover {
  cursor: pointer;
  color: #0f5d38;
}

@media screen and (max-width: 768px) {
  .actionButton {
    width: 90%;
  }
}
