.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p,
a {
  font-weight: 600;
}

a {
  color: #168a53;
}

a:hover {
  cursor: pointer;
  color: #0f5d38;
}
